html {
	height: 100%;
}

body {
	min-height: 100%;
	color: white;
}

.vh-100 {
    height: 100vh;
}

body {
	background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

body.webp {
	background-image: url('../img/bg.webp');
}

body.nowebp {
	background-image: url('../img/bg.jpg');
}

.under-construction {
	font-size: 50px;
	font-weight: 300;
}

.white-round-box {
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	background: white;
	padding: 15px;
	margin-bottom: 20px;
}

footer {
	font-size: 20px;
	font-weight: 300;
}